// //*****************************************************************************************************
// //= GLOBALS                 ===========================================================================
// //*****************************************************************************************************
$global__assets-path: "/images";

$breakpoints: (
  zero: 0px,
  small: 450px,
  medium: 540px,
  large: 768px,
  xlarge: 1024px,
  xxlarge: 1280px,
  xxxlarge: 1440px,
) !default;

$global__padding: (
  zero: 24px,
  medium: 32px,
  large: 48px,
  xxxlarge: 96px,
) !default;
